[run]
include =
    calaccess_processed/*.py

omit =
    calaccess_processed/tests/*.py
    calaccess_processed/migrations/*.py

[report]
exclude_lines =
    pragma: no cover
    add_introspection_rules
