build/
_build/
.tox/
example/project/settings_local.py
example/.static/
*.pyc
*.swp
.DS_Store
*.egg-info
reference
dist
*.swo
docs/_build
.coverage
.tox
cover
bower_components
node_modules
data
CSV
django.log
*.csv#
****-**-**_**-**-**/
.scraper_cache/
example/test-data/tsv/*.TSV
example/test-data/csv/
example/test-data/log/
example/test-data/processed/
example/test-data/clean.zip
example/test-data/processed.zip
example/test-data/flat.zip
example/test-data/relational.zip
example/test-data/.media
example/test-data/*.zip
.python-version
*_****-**-**_**-**-**.zip