[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-calaccess-raw-data = "==4.1.2"
django-calaccess-scraped-data = "==3.1.0"
ccdc-opencivicdata = "==0.0.1"
Django = "==3.2.*"
pytz = "*"
"psycopg2-binary" = "*"
django-internetarchive-storage = "*"

[dev-packages]
"flake8" = "*"
coverage = "*"
requests-mock = "*"
twine = "*"
pre-commit = "*"
setuptools-scm = "*"

[requires]
python_version = "3.9"
