[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-calaccess-raw-data = "==3.0.1"
django-calaccess-scraped-data = "==3.0.0"
opencivicdata = {git = "https://github.com/california-civic-data-coalition/python-opencivicdata.git", editable = true, ref = "90706f92a2705ea53707bcba096abd0f920dfb8f"}
Django = ">=3.2.*"
pytz = "*"
"psycopg2-binary" = "*"

[dev-packages]
"flake8" = "*"
coverage = "*"
requests-mock = "*"
twine = "*"

[requires]
python_version = "3.8"
