# The app
-e git+https://github.com/california-civic-data-coalition/django-calaccess-raw-data.git@HEAD#egg=django-calaccess-raw-data
-e git+https://github.com/california-civic-data-coalition/django-calaccess-scraped-data.git@HEAD#egg=django-calaccess-scraped-data
-e git+https://github.com/opencivicdata/python-opencivicdata.git@HEAD#egg=opencivicdata
Django>=1.10
pytz

# Databases
psycopg2>=2.7.1

# Testing
flake8
flake8_docstrings
coverage
python-coveralls
requests_mock

# Packaging
wheel
twine
