# The app
django-calaccess-raw-data==1.4.7
Django>=1.9
hurry.filesize
pytz
beautifulsoup4

# Databases
mysqlclient
psycopg2>=2.5.4

# Testing
flake8
flake8_docstrings
coverage
python-coveralls

# Packaging
wheel
twine
