import os

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'calaccess_processed',
        'USER': os.getenv('USER'),
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432'
    },
}

CALACCESS_STORE_ARCHIVE = False
