{% extends "base.html" %}

{% block content %}

    <h1>Candidates without a party ({{ object_list|length }})</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Post</th>
                <th>Election</th>
                <th>Status</th>
                <th>Filer ID</th>
                <th>Sources</th>
            </tr>
        </thead>
        {% for obj in object_list %}
        <tr>
            <td>
                <a href="{% url 'person_detail' obj.person.id %}">
                    {{ obj.person }}
                </a>
            </td>
            <td><a href="{% url 'post_detail' obj.post.id %}">{{ obj.post.label }}</a></td>
            <td><a href="{% url 'election_detail' obj.election.id %}">{{ obj.election }}</a></td>
            <td>{{ obj.registration_status|title }}</td>
            <td>
                {% for obj in obj.filer_ids %}
                <a href="http://cal-access.sos.ca.gov/Campaign/Candidates/Detail.aspx?id={{ obj.filer_id }}">
                    {{ obj.identifier }}
                </a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            <td>
                <ul>
                    {% for obj in obj.sources.all %}
                        <a href="{{ obj.url }}">{{ forloop.counter }}{% if not forloop.last %},{% endif %}</a>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
