{% extends "base.html" %}

{% block content %}

    <h1>Elections ({{ object_list|length }})</h1>

    {% for year, year_list in group_list %}
        <h3>{{ year }} ({{ year_list|length }})</h3>

        <table class="table table-bordered">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Ballot measures</th>
                <th>Candidate contests</th>
            </tr>
            {% for obj in year_list %}
            <tr>
                <td style="width: 150px;">
                    <a href="{% url 'election_detail' obj.id %}">
                        {{ obj.date|date:"N j" }}
                    </a>
                </td>
                <td>{{ obj.election_type|lower|title }}</td>
                <td>{{ obj.ballotmeasurecontests.count }}</td>
                <td>{{ obj.candidatecontests.count }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}
