{% extends "base.html" %}

{% block content %}

    <h1>{{ object.name }}</h1>

    <table class="table table-sm">
        <tr>
            <th>Filer ID</th>
            <td><a href="http://cal-access.sos.ca.gov/Campaign/Candidates/Detail.aspx?id={{ object.filer_id }}">{{ object.filer_id }}</a></td>
        </tr>
        <tr>
            <th>Sort name</th>
            <td>{{ object.sort_name }}</td>
        </tr>
        <tr>
            <th>Family name</th>
            <td>{{ object.family_name }}</td>
        </tr>
        <tr>
            <th>Given name</th>
            <td>{{ object.given_name }}</td>
        </tr>
        <tr>
            <th>Other names</th>
            <td>
                {% for obj in object.other_names.all %}
                    {{ obj }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>

    <h3>OCD Candidacies ({{ object.candidacies.count }})</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Election</th>
                <th>Name</th>
                <th>Post</th>
                <th>Party</th>
                <th>Incumbent</th>
                <th>Status</th>
                <th>Filer ID</th>
                <th>Sources</th>
            </tr>
        </thead>
        {% for obj in candidate_list %}
        <tr>
            <td>
                <a href="{% url 'election_detail' obj.election.id %}">
                    {{ obj.election }}
                </a>
            </td>
            <td>
                {{ obj.candidate_name }}
            </td>
            <td>
                <a href="{% url 'post_detail' obj.post.id %}">
                    {{ obj.post.label }}
                </a>
            </td>
            <td>{{ obj.party }}</td>
            <td>{{ obj.is_incumbent }}</td>
            <td>{{ obj.registration_status }}</td>
            <td>
                {% for i in obj.filer_ids %}
                    <a href="http://cal-access.sos.ca.gov/Campaign/Candidates/Detail.aspx?id={{ i }}">{{ i }}</a>
                {% if not forloop.last %},{% endif %}{% endfor %}
            </td>
            <td>
                <ul>
                    {% for obj in obj.sources.all %}
                        <a href="{{ obj.url }}">{{ forloop.counter }}{% if not forloop.last %},{% endif %}</a>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3>Scraped Candidacies ({{ object.scraped_candidates|length }})</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Election</th>
                <th>Name</th>
                <th>Scraped ID</th>
                <th>Office name</th>
            </tr>
        </thead>
        {% for obj in object.scraped_candidates %}
        <tr>
            <td>{{ obj.election }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.scraped_id }}</td>
            <td>{{ obj.office_name }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Form 501s ({{ object.form501s|length }})</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Filing ID</th>
                <th>Committee ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Election year</th>
                <th>Election type</th>
                <th>Office</th>
                <th>District</th>
                <th>Party</th>
            </tr>
        </thead>
        {% for obj in object.form501s %}
        <tr>
            <td>{{ obj.filing_id }}</td>
            <td>{{ obj.committee_id }}</td>
            <td>{{ obj.first_name }}</td>
            <td>{{ obj.last_name }}</td>
            <td>{{ obj.election_year }}</td>
            <td>{{ obj.election_type }}</td>
            <td>{{ obj.office }}</td>
            <td>{{ obj.district }}</td>
            <td>{{ obj.party }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
